.app {
  text-align: center;
  margin: 200px;
}

.tooltip-trigger .tooltip {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 2px;
  padding: 1px;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  z-index: 1;
  font-size: 10px;
}

.tooltip-trigger:hover .tooltip {
  opacity: 1;
}
.tooltip-trigger {
  position: relative;
  display: inline;
}
.tooltip-right {
  top: -5px;
  left: 105%;
}

.tooltip-left {
  top: -5px;
  right: 105%;
}

.tooltip-top {
  bottom: 105%;
  left: 0%;
}

.tooltip-bottom {
  top: 190%;
  left: 0%;
}

/* .tooltip-trigger .tooltip-top::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip-trigger .tooltip-bottom::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip-trigger .tooltip-right::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
} */
/* 
.tooltip-trigger .tooltip-left::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
} */

// .sltp-container-binance,
//   .order-sltp-container {
//     transition: 0.2s ease;
//     display: flex;
//     justify-content: space-evenly;
//     align-items: center;
//     margin-bottom: 0 !important;
//     .left,
//     .right {
//       width: 100%;
//       position: relative;
//     }
//     .center {
//       padding: 0 0.5rem !important;
//       text-align: center;
//       p {
//         height: 32px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         &:nth-child(1) {
//           margin-bottom: 15px !important;
//         }
//       }
//     }
//     .sltp-checkbox {
//       width: 100%;
//       display: flex;
//       align-items: center;
//       justify-content: flex-start;
//       &.take-profit {
//         justify-content: flex-end;
//       }
//       margin: 0.5rem 0 !important;
//       input {
//         width: auto !important;
//         margin-right: 0.2rem !important;
//       }
//       label {
//         margin: 7px 0 0 0 !important;
//       }
//     }
//   }


.sltp-grid {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: flex-start;

  .column {
    display: flex;
    flex-direction: column;
    // gap: 1rem;
    // flex: 1;
  }

  .input-group {
    display: flex;
    flex-direction: column;

    label {
      // margin-top: 5px !important;
      font-size: 12px;
      color: white;
      margin-bottom: 0.2rem !important;
    }

    input {
      height: 32px;
      padding: 0.5rem;
      // background-color: #1e1e1e;
      color: white;
      border-radius: 4px !important;
      // border: 1px solid #444;

      &.disabled-fields {
        opacity: 0.6;
        pointer-events: none;
      }

      &:focus-within {
        border-color: var(--buy-color) !important; // Change to white or any other color when focused
      }
    }
  }
}

@media screen and (max-width: 960px)  {
  .sltp-grid{
    justify-content: space-between !important;
  }
}

.position-toggle {
  display: flex;
  gap: 5px;

  .toggle-button {
    padding: 5px 10px !important;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: #aaa;
    cursor: pointer;
    font-size: 11px;
    transition: all 0.3s ease;

    &.active {
      background-color: black !important;
      color: #fff;
    }

    &:hover {
      background-color: #333;
    }
  }
}

.sltp-checkbox-binance{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px !important;
}
