.container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-bottom: 0.5rem !important;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0 !important;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 70%;
    background-color: #21c46d;
    color: #2d2d2d;
    padding: 0.2rem;
    height: 25px;
}

.metric {
    min-width: 30px;
    text-align: right;
}

.unsubscribed {
    color: rgba($color: #c5c5c5, $alpha: 0.5);
}